<template>
  <div>
    <NavList/>

    <div class="left">
      <ul>
        <li><router-link :to="java">java</router-link></li>
        <li><router-link :to="python">python</router-link></li>
        <li>bigdata</li>
      </ul>
    </div>

    <div class="right">
      视图区域
      <router-view/>
    </div>

  </div>
</template>

<script>
  import NavList from "./NavList";
  export default {
    name: "course",
    components: {NavList},
    data() {
      return {
        java: "/course/java",
        python: "/course/python",
      }
    }
  }
</script>

<style scoped>
  .left, .right {
    float: left;
  }
  .left {
    margin-left: 0;
  }
  .right {
    margin-left: 50px;
  }
  .router-link-active {
    color: red
  }
</style>
