<template>
  <div>
    <NavList/>
    首页
  </div>
</template>

<script>
  import NavList from "./NavList";
  export default {
    name: "index",
    components: {NavList},
    data() {
      return {

      }
    }
  }
</script>

<style scoped>

</style>
