<template>
    <div>
      专家: {{ $route.params.count }} - {{ $route.params.type.name }}
    </div>
</template>

<script>
    export default {
        name: "master"
    }
</script>

<style scoped>

</style>
