<template>
  <div>
    <div class="navlist">
      <ul>
        <li><router-link :to="index" exact>首页</router-link></li>
        <li><router-link :to="course">课程</router-link></li>
        <li><router-link :to="{ name: 'Master', params:{count: 100, type: obj}}">专家</router-link></li>
        <li><router-link to="/master/150/{name: 'iwen'}">专家</router-link></li>
      </ul>
    </div>

  </div>
</template>

<script>
  export default {
    name: "NavList",
    data() {
      return {
        index: "/",
        course: "/course",
        master: "/master",
        obj: {
          name: "wenbronk",
          age: 18
        }
      }
    }
  }
</script>

<style scoped>
  .navlist {
    width: 100%;
    height: 50px;
    background: #f1f1f1;
  }
  ul {
    list-style: none;
  }
  li {
    float: left;
    margin: 20px;
  }
  .active {
    color: red
  }
</style>
