<template>

  <div name="postrequest">

  </div>


</template>

<script>

  import qs from "qs"

  export default {
    name: "PostRequest",
    data() {
      return {
        postList: []
      }
    },
    create() {
      // 引入第三方库， 转变 x-form-urlencoded 格式 为 form 格式
      // this.$axios.post("www.wwtliu.com/sxtstu/blueberrypai/login.php", qs.stringify({
        // 解决跨域
      this.$axios.post(this.HOST + "movie/top250", qs.stringify({
          user_id: "wenbronk",
          password: "1234"
        })
      ).then(res => {
        console.log(res)
      }).catch(err => {
        console.log(err)
      })
    }
  }
</script>

<style scoped>

</style>
