<template>

  <div>
    ssr的写法

    <div v-swiper:mySwiper="swiperOption" @someSwiperEvent="callback">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="banner in banners">
          <img :src="banner">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

</template>

<script>
  export default {
    name: "SSR-saiper",
    data () {
      return {
        banners: [
          'https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2889938252,3793206744&fm=173&app=25&f=JPEG?w=639&h=424&s=A5D1AB66CC0937744EE54C120100C092',
          'https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2889938252,3793206744&fm=173&app=25&f=JPEG?w=639&h=424&s=A5D1AB66CC0937744EE54C120100C092',
          'https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2889938252,3793206744&fm=173&app=25&f=JPEG?w=639&h=424&s=A5D1AB66CC0937744EE54C120100C092' ],
        swiperOption: {
          pagination: {
            el: '.swiper-pagination',
            autoplay: true,
          },
          // some swiper options...
        },
        mounted() {
          setTimeout(() => {
            this.banners.push('/4.jpg')
            console.log('banners update')
          }, 3000)
          console.log(
            'This is current swiper instance object', this.mySwiper,
            'It will slideTo banners 3')
          this.mySwiper.slideTo(3, 1000, false)
        }
      }
    },
  }
</script>

<style scoped>

</style>
