<template>
  <div class="event">

    <ul>
      <li v-on:click.once="getItemInfo(index, $event)" v-for="(name, index) in names">{{ name }}</li>
    </ul>

    <div>
      <input type="text" v-on:keyup="getKeyInfo"/>
      <!--只有enter才会监听-->
      <input type="text" v-on:keyup.enter="getKeyInfo"/>
    </div>

    <div>
      <button v-on:click="pushArr">pushArr</button>
    </div>

    <!--观察这-->
    <div>
      <p> {{ msgRe}}</p>
    </div>

  </div>
</template>


<script>
  export default {
    name: "a02_event",
    data() {
      return {
        names: ['iwen', 'ime', 'ice'],
        message: "hello every body"
      }
    },
    methods: {
      getItemInfo(index, event) {
        console.log(this.names[index]);
        console.log(event);
      },
      getKeyInfo(event) {
        console.log(event.keyCode)
        console.log(event.key)
      },
      pushArr() {
        this.names.push("wenbronk")
      }
    },
    computed: {
       msgRe() {
         return this.message.split('').reverse().join('');
       }
    }
  }
</script>

<style scoped>

</style>
