<template>
  <div>
    <!--观察者-->
    <div>
      <p>{{ msgRe }}</p>
    </div>

    <!--表单数据绑定， 数据立马显示在下面-->
    <div>
      <input type="text" v-model.lazy="msg"/>
      <p> {{ msg }}</p>
    </div>

  </div>
</template>

<script>
  export default {
    name: "a03_computed",
    data() {
      return {
        message: "hello every body",
        msg: ""
      }
    },

    methods: {},

    computed: {
      msgRe() {
        return this.message.split('').reverse().join('');
        // return this.message.split('').reverse().concat('');
      }
    },
    watch: {
      msg: function (data) {
        console.log(data + "   data 就是你输入的额信息")
      }
    }
  }
</script>

<style scoped>

</style>
