<template>
  <!--class 与style 绑定-->
  <div>

    <div>
      isActive 为true， 则显示 active css
      <p v-bind:class="{active: isActive}">哈哈</p>
    </div>

    <!--可以绑定为对象-->
    <div>
      <p v-bind:class="styleObj"> 哈哈 </p>
    </div>

    <!--computed -->
    <div>
      <p v-bind:class="styleObj1"> 哈哈哈啊</p>
    </div>

    <!--数组语法-->
    <div>
      <p v-bind:class="[demo1, demo2]"> array</p>
    </div>

    <!--使用表达式绑定-->
    <ul>
      <li :class="[{active: index % 2 == 0}, 'info-' + id]" v-for="(name, index) in names ">{{ name }}</li>
    </ul>

    <!--绑定内联样式-->
    <div>
      <p :style="stob"> 内敛样式 </p>
    </div>

  </div>
</template>

<script>
  export default {
    name: "a03_style",
    data() {
      return {
        isActive: true,
        isDemo: true,
        styleObj: {
          active: true,
          'demo': true
        },
        id: 10,
        demo1: "demo11",
        demo2: "demo22",
        names: ['wenbronk', 'vini', 'lisa'],
        stob: {
          color: "red",
          fontSize: "24px"
        }
      }
    },
    computed: {
      styleObj1() {
        return {
          "active": this.isActive,
          "demo": this.isDemo
        }
      }
    }
  }
</script>

<style scoped>

  .active {
    color: red;
  }

</style>
