<template>
  <div class="hello">
    <!--{{ msg }}-->
    <!--{{ 1 + 1 }}-->
    <!--{{ '只能存在单行语句 '}}-->

    <!--<div>{{ flag }}</div>-->

    <div v-html="msg"></div>
    <p v-text="msg">text</p>

    <!--v-bind 属性-->
    <span v-bind:class="bind_ha">hahaha a</span>

    <!--v-if 属性-->
    <div>
      <p v-if="show">if can see</p>
      <p v-else-if="show"> else if can see </p>
      <p v-else="!show">else can see </p>
    </div>

    <!--v-show-->
    <div>
      <p v-show="!show"> show can see </p>
    </div>

    <!--v-for-->
    <div>
      <ul>
        <li v-for="(name, index) in names" v-bind:index="index">{{ name.name }} : {{ name.age }}</li>
      </ul>
    </div>

    <!--v-on-->
    <div>
      <button v-on:click="num += 1"> 按钮</button>
      <p> {{ num }}</p>
    </div>

    <!--methods -->
    <div>
      <button v-on:click="handlerClick"> methods 按钮 </button>
    </div>

  </div>
</template>


<script>
  // 导出可被外部访问
  export default {
    name: 'hello',
    data() {
      return {
        msg: '<p>Hello Vue</p>',
        flag: ' i am flag',
        bind_ha: "ha111",
        show: false,
        names: [{name: 'vini', age: 24}, {name: 'wenbronk', age: '26'}, {name: 'lisa', age: '25'}],
        num: 1,
      }
    },
    methods: {
      handlerClick() {
        alert("事件1 ")
        // 去上面data的值, this索引当前data中的数据
        this.show = !this.show
      }
    }
  }
</script>


<style scoped>
  .ha {
    color: #42b983;
  }
</style>
