<template>
  <div id="app">
    <!--<img src="./assets/logo.png">-->
    <!--<NavList/>-->
    <router-view/>

  </div>
</template>

<script>
// import NavList from "./components/NavList";
export default {
  name: 'App',
  components: {
    // NavList
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
</style>
