<template>
  <div id="app">
    <img src="./assets/logo.png">
    <NavList/>
    <router-view></router-view>

  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld'
import NavList from "./components/NavList";

export default {
  name: 'App',
  components: {
    NavList,
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
