<template>
  <div id="app">
    <img src="./assets/logo.png">
    <!--<HelloWorld/>-->
    <!--<b01_component/>-->
    <!--<b04_slot_parent/>-->
    <!--<b05_component_parent/>-->
    <!--<b06_anim_01/>-->
    <b07_custom_direct/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld'
import b01_component from './components/b01_component'
import B04_slot_parent from "./components/b04_slot_parent";
import B05_component_parent from "./components/b05_component_big";
import B06_anim_01 from "./components/b06_anim_01";
import B07_custom_direct from "./components/b07_custom_direct";

export default {
  name: 'App',
  components: {
    B07_custom_direct,
    B06_anim_01,
    B05_component_parent,
    B04_slot_parent,
    HelloWorld,
    b01_component
  }
}
</script>

<style>
  /*全局生效的*/
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
