<template>
  <div>
    <p> 这儿是 子组件， 测试父给子传递数据 </p>
    <p>接受来自父的数据 {{ title }}</p>
    <br/>
    <p> 从input中接收的数据 {{ lifemsg }}</p>

    <p > 类型限制 {{ num }}</p>
  </div>
</template>

<script>
  export default {
    name: "b01_son",
    data() {
      return {}
    },
    props: {
      // 增加必须项
      title: {
        type: String,
        required: true,
      },

      // 支持多种类型
      lifemsg: [String, Number],

      // 带有默认值
      num: {
        type: Number,
        default: 5,
      },

      // obj 接收
      obj: {
        type: Object,
        default: function () {
          return {
            name: 'lisa',
            age: 27
          }
        }
      }

    }
  }
</script>

<style scoped>

</style>
