<template>
  <!--只有一个根组件-->
  <div>
    <div>
      这是自定义组件
    </div>
    <img src = "../assets/logo.png"/>

    <div>
      <!--导入子组件-->
      <input type="text" v-model.lazy="lifemsg">

      <b01_son :title="msg" :lifemsg="lifemsg" :num="num" :obj="obj"/>
      <button @click="changeMsg">button ..</button>
    </div>

    <!--子给父传递数据-->
    <div>
      <!--<b03_emit @sendMsg="getMsg"/>-->
      <b03_emit @sendAndCompute="sendAndGet" :num="getNum" />
      <p> {{ result }}</p>
    </div>

  </div>
</template>



<script>
// 导入子组件
import b01_son from './b01_son'
import b03_emit from './b03_emit'

  // 必须导出， 外部才可以访问
  export default {
    name: "b01_component",
    components: {
      b01_son,
      b03_emit
    },
    data() {
      return {
        msg: "传递给子的数据",
        lifemsg: "hello",
        num: 10,
        obj: {
          name: 'vini',
          age: 18
        },
        result: 10,
      }
    },
    computed: {
      getNum() {
        return this.result - 0;
      }
    },
    methods: {
      changeMsg(event) {
        this.msg = "修改后的数据"
      },
      getMsg(data) {
        this.msg = data;
      },
      sendAndGet(data) {
        console.log("..." + data)
        this.result = data;
      }
    }
  }
</script>

<!--scoped 命名空间， 只在当前域生效-->
<style scoped>

  img{
    width: 50px;
  }

</style>
