<template>
    <div>
      <div>
        子给父传递数据
      </div>

      <div>
        <!--<button @click="sendMsg">传递数据</button>-->
        <button @click="sendAndCompute"> 计算数据 </button>
      </div>

    </div>
</template>

<script>
    export default {
        name: "b03_emit",
      data() {
          return {
            msg: "子组件数据",

          }
      },
      // 绑定emit
      methods: {
        sendMsg(event) {
          // key， value
          this.$emit("sendMsg", this.msg)
        },
        sendAndCompute(event) {
          this.$emit("sendAndCompute", this.computeNum)
        }
      },
      // 接受来自父的数据
      props: {
          num: {
            type: Number,
            required: true,
          }
      },
      // 计算
      computed: {
        computeNum() {
          return this.num * 3
        }
      }
    }
</script>

<style scoped>

</style>
