<template>

  <div> for slot son

    <!--根据名称插不同的插插-->
    <slot name="first"> 被插了</slot>
    <p > 父中的插槽可引入子中 </p>

    <!--可根据名称插入-->
    <slot name="second"></slot>


    <!--传递数据给父-->
    <slot name="send2Fa" text="子传递数据给父"></slot>


  </div>

</template>

<script>
    export default {
        name: "b04_slot_son"
    }
</script>

<style scoped>

</style>
