<template>
  <div> for slot - parent

    <!--引入子组件， 传递插槽给子 -->
    <!--slot 在2。5。0 之前必须在template上使用-->
    <b04_slot_son>
      <p slot="first"> 我是插插哦</p>

      <div slot="second">
        <p > 也可以放在div中， 放入多个标签</p>
        <h1> 俄式可以的</h1>
      </div>

      <!--从子中获取数据-->
      <div slot-scope="props" slot="send2Fa">
        <span> 从子类中获取的数据</span>
        <span>{{ props.text }}</span>
      </div>

    </b04_slot_son>
  </div>


</template>

<script>
  import B04_slot_son from "./b04_slot_son";

  export default {
    name: "b04_slot_parent",
    components: {
      B04_slot_son
    }
  }
</script>

<!--样式可随着标签， 传递到子的slot中-->
<style scoped>
  p {
    color: red;
  }
</style>
