<template>

  <!--使用 视频变化， 可以在不同的子中切换-->
  <div>
    parent

    <!--两种写法都可以-->
    <!--{{ currentView }} <br/>-->
    <component :is="currentView"></component> <br/>
    <button @click="changeView">切换组件</button>

  </div>

</template>

<script>
  import Son1 from './b05_component_son'
  import Son2 from './b05_component_son2'

  export default {
    name: "b05_component_parent",
    data() {
      return {
        currentView: "Son1"
      }
    },
    components: {
      Son1,
      Son2,
    },
    methods: {
      changeView() {
        this.currentView = "Son2"
      }
    }
  }
</script>

<style scoped>

</style>
