<template>

  <div>
    <input v-focus/>

  </div>

</template>

<script>
  export default {
    name: "b07_custom_direct",
    data() {
      return {}
    },
    directives: {
      focus: {
        // 指令的定义
        inserted: function (el) {
          el.focus()
        }
      }
    }
  }
</script>

<style scoped>

</style>
