<template>
  <div id="app">
    <!--<img src="./assets/logo.png">-->
    <!--<HelloWorld/>-->
    <!--<a02_event/>-->
    <!--<a03_computed/>-->
    <a04_style/>

  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld'

// import a02_event from './components/a02_event'

// import a03_computed from './components/a03_computed'

import a04_style from './components/a04_style'
export default {
  name: 'App',
  components: {
    // HelloWorld
    // a02_event
    // a03_computed
    a04_style
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
