<template>
  <div>
    <!--用来跳转的-->
    <ul>
      <li>
        <!--使用基本的 to-->
        <router-link to="/hello">hello world</router-link>
      </li>

      <li>
        <router-link to="/iwen">hello iwen</router-link>
      </li>
    </ul>

    <ul>
      <li>
        <!--v-bind:to  动态数据加载-->
        <router-link :to="urlData.helloworld">hello world</router-link>
      </li>
    </ul>

    <ul>
      <li>
        <!-- 使用 path -->
        <router-link :to="{path: urlData.helloworld}">hello world</router-link>
      </li>
    </ul>

  </div>
</template>

<script>
  export default {
    name: "NavList",
    data() {
      return {
        urlData: {
          helloworld: "/hello",
          helloIwen: "/iewn"
        }
      }
    }
  }
</script>

<style scoped>
  ul {
    list-style: none;
    text-align: center;
  }
  li {
    color: red
  }
</style>
