<template>
  <div id="app">
    <img src="./assets/logo.png">
    <GetRequest/>
    <PostRequest/>
  </div>
</template>

<script>
import GetRequest from './components/GetRequest'
import PostRequest from "./components/PostRequest";


export default {
  name: 'App',
  components: {
    PostRequest,
    GetRequest
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
